[Unit]
Description=Mount Nextcloud /configs via rclone
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'until curl -sk --max-time 5 http://192.168.88.4/status.php | grep -q "installed"; do echo "Nextcloud not ready..."; sleep 5; done'
ExecStart=/usr/bin/rclone mount nc:configs /configs \
    --vfs-cache-mode full \
    --allow-other \
    --poll-interval 1m \
    --umask 002 \
    --log-file /var/log/rclone-configs.log \
    --log-level INFO \
    --dir-cache-time 60s \
    --attr-timeout 30s \
    --file-perms 0755 \
    --dir-perms 0775 \
    --umask 002 \
    --uid 1000 --gid 1000 \
    --vfs-cache-poll-interval 30s

ExecStop=/usr/bin/fusermount3 -u /configs
Restart=on-failure
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
